extends layout
block content
  h1 KHIO METAR & 152 Perf. Infomation
  p I like my body #{body}
  h2 = metar #{metar}
  h2 = pa #{pa}
  h2 = da #{da}
  h2 = cross1 #{crossWind1}
  h2 = cross2 #{crossWind2}
  h2 = #{Perf152_data_TO_Gnd_Roll}
  h2 = #{Perf152_data_TO_50_Clr}
  h2 = #{Perf152_data_Land_Gnd_Roll}
  h2 = #{Perf152_data_Rate_Of_Climb}
  h2 = metar