<!DOCTYPE html >
<html dir="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>METAR Information - Hillsboro Airport for Aircraft
	Performance Calculation and Weather Prediction</title>
<link rel="stylesheet" href="../wx_page_files/wxcore.css"
	type="text/css" media="screen">
<link rel="stylesheet" href="../wx_page_files/common.css"
	type="text/css" media="screen">
<link rel="stylesheet" href="../wx_page_files/peter.css" type="text/css"
	media="screen">
<link rel="stylesheet" type="text/css"
	href="../wx_page_files/Sc8_BlueWood_form.css">
<link rel="stylesheet" type="text/css"
	href="../wx_page_files/form_fwm_wx_perf_ltr.css">
<script type="text/javascript" src="../wx_page_files/jquery.js"></script>

</head>
<body>

	<a name="bloco_7"></a>
	<table width="100%" height="100%" cellpadding="0" cellspacing="0">
		<tbody>
			<tr valign="top">
				<td width="100%" height=""><a name="bloco_11"></a>
					<table width="100%" height="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr valign="top">
								<td width="100%" height="">
									<div id="div_hidden_bloco_11">
										<!-- bloco_c -->
										<table align="center" id="hidden_bloco_11" class="scFormTable"
											width="100%" style="height: 100%;">
											<tbody>
												<tr>
													<td colspan="2" height="20" class="scFormBlock">
														<!-- Title -->
														<table
															style="padding: 0px; spacing: 0px; border-width: 0px;"
															width="100%" height="100%">
															<tbody>
																<tr>
																	<td align="" valign="" class="scFormBlockFont"><table
																			style="border-collapse: collapse; height: 100%; width: 100%">
																			<tbody>
																				<tr>
																					<td
																						style="vertical-align: middle; border-width: 0px; padding: 0px 2px 0px 0px">
																						<img id="SC_blk_pdf0"
																						src="../wx_page_files/scriptcase__NM__btn__NM__scriptcase8_BlueWood__NM__tree_mais_f.png"
																						style="border: 0px; float: left"
																						class="sc-ui-block-control">
																					</td>
																					<td
																						style="border-width: 0px; padding: 0px; width: 100%;"
																						class="scFormBlockAlign"><%=bloco_title_11%></td>
																				</tr>
																			</tbody>
																		</table></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<!-- contents start -->
												<tr style="display: table-row;">
													<td colspan=2>
														<!-- contents here --> <pre><%=bloco_contents_11%></pre>
													</td>
												</tr>
											</tbody>
										</table>
								</td>

							</tr>
						</tbody>
					</table> <a name="bloco_12"></a>
					<table width="100%" height="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr valign="top">
								<td width="100%" height="">
									<div id="div_hidden_bloco_12">
										<!-- bloco_c -->
										<table align="center" id="hidden_bloco_12" class="scFormTable"
											width="100%" style="height: 100%;">
											<tbody>
												<tr>
													<td colspan="2" height="20" class="scFormBlock">
														<!-- Title -->
														<table
															style="padding: 0px; spacing: 0px; border-width: 0px;"
															width="100%" height="100%">
															<tbody>
																<tr>
																	<td align="" valign="" class="scFormBlockFont"><table
																			style="border-collapse: collapse; height: 100%; width: 100%">
																			<tbody>
																				<tr>
																					<td
																						style="vertical-align: middle; border-width: 0px; padding: 0px 2px 0px 0px">
																						<img id="SC_blk_pdf0"
																						src="../wx_page_files/scriptcase__NM__btn__NM__scriptcase8_BlueWood__NM__tree_mais_f.png"
																						style="border: 0px; float: left"
																						class="sc-ui-block-control">
																					</td>
																					<td
																						style="border-width: 0px; padding: 0px; width: 100%;"
																						class="scFormBlockAlign"><%=bloco_title_12%></td>
																				</tr>
																			</tbody>
																		</table></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<!-- contents start -->
												<tr style="display: table-row;">
													<td colspan=2>
														<!-- contents here --> <a href='<%=bloco_contents_12%>'>
															Click to Open NOTAM</a>
													</td>
												</tr>
											</tbody>
										</table>
								</td>
							</tr>
						</tbody>
					</table> <!-- bloco_f --> <!--  jk  --> <!--  jk end  --> <!-- bloco_c -->
					<!-- JK header --> <!-- JK  --> <a name="bloco_13"></a>
					<table width="100%" height="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr valign="top">
								<td width="100%" height="">
									<div id="div_hidden_bloco_13">
										<!-- bloco_c -->
										<table align="center" id="hidden_bloco_13" class="scFormTable"
											width="100%" style="height: 100%;">
											<tbody>
												<tr>
													<td colspan="2" height="20" class="scFormBlock">
														<!-- Title -->
														<table
															style="padding: 0px; spacing: 0px; border-width: 0px;"
															width="100%" height="100%">
															<tbody>
																<tr>
																	<td align="" valign="" class="scFormBlockFont"><table
																			style="border-collapse: collapse; height: 100%; width: 100%">
																			<tbody>
																				<tr>
																					<td
																						style="vertical-align: middle; border-width: 0px; padding: 0px 2px 0px 0px">
																						<img id="SC_blk_pdf0"
																						src="../wx_page_files/scriptcase__NM__btn__NM__scriptcase8_BlueWood__NM__tree_mais_f.png"
																						style="border: 0px; float: left"
																						class="sc-ui-block-control">
																					</td>
																					<td
																						style="border-width: 0px; padding: 0px; width: 100%;"
																						class="scFormBlockAlign"><%=bloco_title_13%></td>
																				</tr>
																			</tbody>
																		</table></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<!-- contents start -->
												<tr style="display: table-row;">
													<td colspan=2>
														<!-- contents here --> <img width="600"
														src="http://aviationweather.gov/adds/data/airmets/airmets_ALL.gif">
													</td>
												</tr>
											</tbody>
										</table>
								</td>

							</tr>
						</tbody>
					</table> <!-- bloco_f --> <!--  jk  --> <!--  jk end  --> <!-- bloco_c -->
					<!-- JK header --> <!-- JK  --> <a name="bloco_14"></a>
					<table width="100%" height="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr valign="top">
								<td width="100%" height="">
									<div id="div_hidden_bloco_14">
										<!-- bloco_c -->
										<table align="center" id="hidden_bloco_14" class="scFormTable"
											width="100%" style="height: 100%;">
											<tbody>
												<tr>
													<td colspan="2" height="20" class="scFormBlock">
														<!-- Title -->
														<table
															style="padding: 0px; spacing: 0px; border-width: 0px;"
															width="100%" height="100%">
															<tbody>
																<tr>
																	<td align="" valign="" class="scFormBlockFont"><table
																			style="border-collapse: collapse; height: 100%; width: 100%">
																			<tbody>
																				<tr>
																					<td
																						style="vertical-align: middle; border-width: 0px; padding: 0px 2px 0px 0px">
																						<img id="SC_blk_pdf0"
																						src="../wx_page_files/scriptcase__NM__btn__NM__scriptcase8_BlueWood__NM__tree_mais_f.png"
																						style="border: 0px; float: left"
																						class="sc-ui-block-control">
																					</td>
																					<td
																						style="border-width: 0px; padding: 0px; width: 100%;"
																						class="scFormBlockAlign"><%=bloco_title_14%></td>
																				</tr>
																			</tbody>
																		</table></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<!-- contents start -->
												<tr style="display: table-row;">
													<td colspan=2>
														<!-- contents here --> <img width="600"
														src="http://aviationweather.gov/adds/data/progs/hpc_sfc_analysis.gif">
														<img width="600"
														src="http://aviationweather.gov/images/progchart/progsfc_lgnd.png">



													</td>
												</tr>
											</tbody>
										</table>
								</td>

							</tr>
						</tbody>
					</table> <!-- bloco_f --> <!--  jk  --> <!--  jk end  --> <!-- bloco_c -->
					<!-- JK header --> <!-- JK  --> <a name="bloco_15"></a>
					<table width="100%" height="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr valign="top">
								<td width="100%" height="">
									<div id="div_hidden_bloco_15">
										<!-- bloco_c -->
										<table align="center" id="hidden_bloco_15" class="scFormTable"
											width="100%" style="height: 100%;">
											<tbody>
												<tr>
													<td colspan="2" height="20" class="scFormBlock">
														<!-- Title -->
														<table
															style="padding: 0px; spacing: 0px; border-width: 0px;"
															width="100%" height="100%">
															<tbody>
																<tr>
																	<td align="" valign="" class="scFormBlockFont"><table
																			style="border-collapse: collapse; height: 100%; width: 100%">
																			<tbody>
																				<tr>
																					<td
																						style="vertical-align: middle; border-width: 0px; padding: 0px 2px 0px 0px">
																						<img id="SC_blk_pdf0"
																						src="../wx_page_files/scriptcase__NM__btn__NM__scriptcase8_BlueWood__NM__tree_mais_f.png"
																						style="border: 0px; float: left"
																						class="sc-ui-block-control">
																					</td>
																					<td
																						style="border-width: 0px; padding: 0px; width: 100%;"
																						class="scFormBlockAlign"><%=bloco_title_15%></td>
																				</tr>
																			</tbody>
																		</table></td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<!-- contents start -->
												<tr style="display: table-row;">
													<td colspan=2>
														<!-- contents here --> <img width="600"
														src="http://aviationweather.gov/data/iffdp/2020.gif">

													</td>
												</tr>
											</tbody>
										</table>
								</td>

							</tr>
						</tbody>
					</table> <!-- bloco_f --> <!--  jk  --> <!--  jk end  --> <!-- bloco_c -->
					<!-- JK header --> <!-- JK  --> <a name="bloco_16"></a>
					<table width="100%" height="100%" cellpadding="0" cellspacing="0">
						<tbody>
							<tr valign="top">
								<td width="100%" height="">
									<!-- bloco_c -->
									<table align="center" id="hidden_bloco_16" class="scFormTable"
										width="100%" style="height: 100%;">
										<tbody>
											<tr>
												<td colspan="2" height="20" class="scFormBlock">
													<!-- Title -->
													<table
														style="padding: 0px; spacing: 0px; border-width: 0px;"
														width="100%" height="100%">
														<tbody>
															<tr>
																<td align="" valign="" class="scFormBlockFont"><table
																		style="border-collapse: collapse; height: 100%; width: 100%">
																		<tbody>
																			<tr>
																				<td
																					style="vertical-align: middle; border-width: 0px; padding: 0px 2px 0px 0px">
																					<img id="SC_blk_pdf0"
																					src="../wx_page_files/scriptcase__NM__btn__NM__scriptcase8_BlueWood__NM__tree_mais_f.png"
																					style="border: 0px; float: left"
																					class="sc-ui-block-control">
																				</td>
																				<td
																					style="border-width: 0px; padding: 0px; width: 100%;"
																					class="scFormBlockAlign"><%=bloco_title_16%></td>
																			</tr>
																		</tbody>
																	</table></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<!-- contents start -->
											<tr style="display: table-row;">
												<td colspan=2>
													<!-- contents here --> <img width="600"
													src="http://aviationweather.gov/data/iffdp/2080.gif">
													<link rel="stylesheet"
														href="../stylesheets/font_styles.css" type="text/css">
													<!-- temporary -->
												</td>
											</tr>
										</tbody>
									</table>
								</td>

							</tr>
						</tbody>
					</table>
</body>
</html>
